<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h2 class="text-center mb-4" style="font-weight:bold; color:#FF1A6F; font-family: Rounded M+ 1c;">Users search for "<%= @word %>"</h2>
<table class="table table-dark table-striped　table-bordered table-hover text-white" style="background-color: black">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "Nickname" %>
  <thead>
    <tr>
      <th>User Nickname</th>
      <th>User Profile Photo</th>
      <th>Basketball Shoes Photo</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% user.shoes_reviews.each do |shoes_review| %>
        <tr>
          <td><%= user.nickname %></td>
          <td>
            <% if user.image.attached? %>
              <%= image_tag user.image, class: "rounded-circle", size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
            <% end %>
          </td>
            <% if shoes_review.image.attached? %>
              <td>
                <%= image_tag shoes_review.image, size: "50x50" %>
              </td>
            <% else %>
            <td>
              <%= image_tag 'no_image', size: "50x50" %>
            </td>
          <% end %>
          <td>
            <%= link_to public_shoes_review_path(shoes_review.id) do %>
              <%= shoes_review.title %>
            <% end %>
          </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがShoesReviewの時) -->
    <thead>
      <tr>
        <th>User Nickname</th>
        <th>User Profile Photo</th>
        <th>Basketball Shoes Photo</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <h2>ShoesReview search for "<%= @word %>"</h2>
      <% @shoes_reviews.each do |shoes_review| %>
      <tr>
        <td>
          <%= shoes_review.user.nickname %>
        </td>
        <td>
          <% if shoes_review.user.image.attached? %>
            <%= image_tag shoes_review.user.image, class: "rounded-circle", size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
          <% end %>
        </td>
        <td>
          <% if shoes_review.image.attached? %>
            <%= image_tag shoes_review.image, size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
        </td>
        <td>
          <%= link_to public_shoes_review_path(shoes_review.id) do %>
            <%= shoes_review.title  %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>