<div class="container">
  <div class="row mt-2 mb-2">
    <h2 style="border: 5px double #FF1A6F;">User BasketballShoes NEW Review</h2>
  </div>  
  <div class="row" style="border: 5px double #FF1A6F;">
    <% @shoes_reviews.first(4).each do |shoes_review| %>
      <div class="col-3 border: 5px double #FF1A6F;">
        <div class="card bg-transparent text-center mt-2 mb-2" style="border: 5px double #FF1A6F;">
          <div class="mt-2">
            <%= link_to admin_review_shoes_reviews_path do %>
              <% if shoes_review.image.attached? %>
                <%= image_tag shoes_review.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            <% end %>
          </div>
          <div>
            <p style="border: 5px double #FF1A6F;">Review Title<br> <%= shoes_review.title %></p>
            <p style="border: 5px double #FF1A6F;">Reviewer Nickname<br> <%= shoes_review.user.nickname %></p>
          </div>
          </div>
        </div>
      
    <% end %>
  </div>
</div>
<div class="row">
          <% @users.first(4).each do |user| %>
            <div class="col-md-3 col-sm-6">
              <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
                <%= link_to admin_users_path(user) do %>
                <% if user.image.attached? %>
            <%= image_tag user.image, size: "100x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100x100" %>
         <% end %>
                <% end %>
                <div class="card-body">
                  <p class="card-text">Review Title:<%= user.last_name %><%= user.first_name %></p>
                  <p class="card-text">Reviewer Nickname:<%= user.nickname %></p>
                </div>
              </div>
            </div>
          <% end %>
</div>
</div>