<div class="container">
  <div class="row my-3 offset-1 text-center">
    <h2 class="col-3" style="border: 5px double #FF1A6F;">新規会員登録</h2>
  </div>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <form class="form-horizontal">
      <div style="border: 5px double #FF1A6F; margin-bottom: 30px;">
        <div class="form-group row my-3 offset-2">
          <%= f.label :"ニックネーム",class:"col-sm-3 control-label" %>
            <div class="col-sm-6">
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",placeholder: "ニックネーム",class:"form-control" %>
            </div>
        </div>
        <div class="form-group row my-3 offset-2">
          <%= f.label :"メールアドレス",class:"col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",class:"form-control" %>
          </div>
        </div>
        <div class="form-group row my-3 offset-2">
          <%= f.label :"パスワード6文字以上",class:"col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "new-password",placeholder: "******",class:"form-control" %>
          </div>
        </div>
        <div class="form-group row my-3 offset-2">
          <%= f.label :"パスワード(確認用)",class:"col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "******",class:"form-control" %>
          </div>
        </div>
        <div class="text-center my-5">
          <%= f.submit "新規登録", class: "btn btn-outline-warning" %>
        </div>
      </form>
    <% end %>
  </div>
</div>
<div class="row m-4">
  <div class="text-center offset-6">
    <h4 class="px-4 title-background">登録済みの方こちらから<%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-success" %>してください！</h4>
  </div>
</div>
