<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>会員一覧</h2>
      <div class="row my-3">
        <div class="col-sm-10 px-sm-0 offset-sm-1">
          <table class="table table-bordered">
            <thead class="table-active text-center">
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>フリガナ</th>
                <th>年齢</th>
                <th>ニックネーム</th>
                <th>メールアドレス</th>
                <th>住所</th>
                <th>好きなブランド</th>
                <th>好きなバスケットボールシューズ</th>
                <th>バスケットボールシューズサイズ</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td class="text-center"><%= user.id %></td>
                  <td>
                    <%= link_to admin_user_path(user) do %><%= user.first_name %><%= user.last_name %><% end %>
                  </td>
                  <td><%= user.first_name_kana %><%= user.last_name_kana %></td>
                  <td><%= user.age %></td>
                  <td><%= user.nickname %></td>
                  <td><%= user.email %></td>
                  <td><%= user.address %></td>
                  <td><%= user.favorite_brand %></td>
                  <td><%= user.favorite_shoes_name %></td>
                  <td><%= user.size %></td>
                  <td>
                    <% if user.is_active? %>
                      <p class="text-center">有効</p>
                    <% else %>
                      <p class="text-center text-success">退会済</p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <%#= paginate @users %>
  </div>
</div>