
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'users/userinfo', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <br>
      <br>
      <br>
      <!--検索機能-->
      <%= render 'public/searches/search' %>
      <h2>Shoes Review</h2>
       <div class="col-11 px-sm-0 text-right mt-3">
        <%= link_to new_public_shoes_review_path do %>
        <button type="button" class="btn btn-light rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
        <% end %>
      </div>
      <table class="table">
        <thead>
          <th colspan="1"></th>
          <th>User Nickname</th>
          <th>User Profile Photo</th>
           <th>Basketball Shoes Photo</th>
          <th>Title</th>
        </thead>
        <tbody>
     <% @shoes_reviews.each do |shoes_review| %>
       <tr>
         <td><%= shoes_review.user.nickname %></td>
         <td> <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "rounded-circle", size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', class: "rounded-circle", size: "200x200" %>
      <% end %></td>
         
         
         
          <td> <% if shoes_review.image.attached? %>
        <%= image_tag shoes_review.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
          </td>
           
         
         <td><%= link_to public_shoes_review_path(shoes_review.id) do %> <%= shoes_review.title  %> <% end %></td>

         <td>
　　     </td>
         <td>
           <p></p>
         </td>
         <td><td></td></td>

       </tr>
     <% end %>
       </tbody>

     </table>
    </div>
  </div>
</div>

