<div class="container">
  <div class="row my-3">
    <div class="col-12 mx-auto my-3" style="border: 5px double #FF1A6F; padding-bottom: 10px;">
      <div class="row">
        <div class="col-5 text-center" style="border-bottom: 5px double #FF1A6F; font-size: 30px; border-right: 5px double #FF1A6F;">
          <%= @shoes_review.title %>のReview
        </div>
        <div class="col-3" style="border-bottom: 5px double #FF1A6F; font-size: 30px; border-right: 5px double #FF1A6F;">
          <%= link_to public_user_path(@shoes_review.user.id)  do %>
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "rounded-circle", size: "40x40" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "40x40" %>
            <% end %>
          <% end %>
          投稿者:<%=@user.nickname%>
        </div>
        <div class="col-4 mt-1 text-center" style="border-bottom: 5px double #FF1A6F; font-size: 30px;">
          <% if @shoes_review.user != current_user %>
            <% if current_user.following?(@shoes_review.user) %>
              <%= link_to "Unfollow", public_user_relationships_path(@shoes_review.user), method: :delete, class:"btn btn-outline-danger" %>
            <% else %>
              <%= link_to "Follow", public_user_relationships_path(@shoes_review.user), method: :post, class:"btn btn-outline-info" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-12 mt-3 text-center">
          <% if @shoes_review.image.attached? %>
            <%= image_tag @shoes_review.image, size: "250x250" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </div>
        <div class="col-12 mt-3 text-center" style="font-size: 30px;">BasketballShoes Photo</div>
      </div>
      <h3 class="col-4" style="border: 5px double #FF1A6F;">BasketballShoes Score</h3>
      <table class="table table-dark table-striped　table-bordered table-hover text-white text-center" style="border: 5px double #FF1A6F; background-color: black">
        <thead>
          <tr>
  　  　      <th scope="col">★</th>
            <th scope="col">Traction</th>
            <th scope="col">Cushion</th>
            <th scope="col">Fit</th>
            <th scope="col">Support</th>
            <th scope="col">Weight</th>
            <th scope="col">合計点数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= @shoes_review.traction %></td>
            <td><%= @shoes_review.cushion %></td>
            <td><%= @shoes_review.fit %></td>
            <td><%= @shoes_review.support %></td>
            <td><%= @shoes_review.weight %></td>
            <td><%= @shoes_review.sum_total %></td>
          </tr>
        </tbody>
      </table>
    <div>
      <!-- タグリスト -->
      <% @shoes_review_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name, public_search_tag_path(tag_id: tag.id) %>
      <% end %>
      <div class="row">
        <div class="col-6 " style="border: 5px double #FF1A6F; font-size: 30px; margin-left: 15px;">BasketballShoes Review</div>
        <div class="row" style="margin-left: 45px;">
          <% if @user.id == current_user.id %>
            <div class="col-6" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
              <%= link_to edit_public_shoes_review_path, class:"btn-a" do %>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
         <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
    </svg>
    <span>Edit Review</span>
              <% end %>

            </div>
            <div class="col-6" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
              <%= link_to public_shoes_review_path(@shoes_review.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn-d" do  %>
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"></path>
    </svg>
    <span>Delete Review</span>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="favorite_buttons_<%= @shoes_review.id %>">
    <%= render "public/favorites/favorite", shoes_review: @shoes_review %></div>

    <div class="col-12" style="border: 5px double #FF1A6F; font-size: 30px;"><%= @shoes_review.review %></div>
    <div class="row">
      <div class="col-8 mt-2" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px; margin-left: 15px;">
        <%= form_with model: [@shoes_review, @comment], url: public_shoes_review_comments_path(@shoes_review.id) do |f| %>
          <%= f.text_area :user_comment, rows: '5', placeholder: "コメントをここに" , size: "45x5"%><br>
            <%= f.submit "コメントをする", class: 'btn btn-outline-light' %>
          <% end %>
          コメント件数：<%= @shoes_review.comments.count %>
        </div>
      </div>
      <div class="row-8">
        <% @shoes_review.comments.each do |comment| %>
          <div class="col-8 mb-2 mt-2" style="border: 5px double #FF1A6F; background-color: black;">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "rounded-circle", size: "30x30" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "30x30" %>
            <% end %>
            Nickname: <%= comment.user.nickname %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><br>
            <%= comment.user_comment %><br>
            <div class="row">
              <div class="col-2 offset-10">
                <% if comment.user == current_user %>
                  <%= link_to public_shoes_review_comment_path(comment.shoes_review, comment), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn-d" do %><br>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"></path>
    </svg>
    <span>Delete</span>
              <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2" style="padding-bottom: 10px;">


      <%= link_to public_shoes_reviews_path, class:"btn-b" do %>BasketballShoes Review一覧
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <% end %>

    </div>
  </div>
</div>


