<div class="container">
  <div class="row my-3">
    <div class="col-12 mx-auto my-3">
      <h2 class="col-5 text-center" style="border: 5px double #FF1A6F;"><%= @shoes_review.title %>のReview</h2>
        <h2 class="col-3" style="border: 5px double #FF1A6F;"><%= link_to public_user_path(@shoes_review.user.id)  do %>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class: "rounded-circle", size: "40x40" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", size: "40x40" %>
          <% end %>
        <% end %>
        投稿者:<%=@user.nickname%>
        </h2>
        <h3 class="col-4 text-center" style="border: 5px double #FF1A6F; margin-bottom: 10px;">BasketballShoes Photo
          <% if @shoes_review.image.attached? %>
            <%= image_tag @shoes_review.image, size: "250x250" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </h3>
        <h3 class="col-4" style="border: 5px double #FF1A6F;">BasketballShoes Score</h3>
        <table class="table table-dark table-hover" style="border: 5px double #FF1A6F;">
          <thead>
            <tr>
    　  　      <th scope="col">★</th>
              <th scope="col">Traction</th>
              <th scope="col">Cushion</th>
              <th scope="col">Fit</th>
              <th scope="col">Support</th>
              <th scope="col">Weight</th>
              <th scope="col">合計点数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><%= @shoes_review.traction %></td>
              <td><%= @shoes_review.cushion %></td>
              <td><%= @shoes_review.fit %></td>
              <td><%= @shoes_review.support %></td>
              <td><%= @shoes_review.weight %></td>
              <td><%= @shoes_review.sum_total %></td>
            </tr>
          </tbody>
        </table>
      <div>
      <!-- タグリスト -->
      <% @shoes_review_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%= link_to tag.name, public_search_tag_path(tag_id: tag.id) %>
      <% end %>
      <h2 class="col-6" style="border: 5px double #FF1A6F;">BasketballShoes Review</h2>
      <% if @shoes_review.favorited_by?(current_user) %>
        <p>
          <%= link_to public_shoes_review_favorite_path(@shoes_review), method: :delete do %>
            ♥
            <%= @shoes_review.favorites.count %>
          <% end %>
        </p>
      <% else %>
      <p>
        <%= link_to public_shoes_review_favorite_path(@shoes_review), method: :post do %>
          ♡
          <%= @shoes_review.favorites.count %>
        <% end %>
      </p>
      <% end %>
      <h3 class="col-12" style="border: 5px double #FF1A6F;"><%= @shoes_review.review %></h3>
      <p class="col-2" style="border: 5px double #FF1A6F;">コメント件数：<%= @shoes_review.comments.count %></p>
        <% @shoes_review.comments.each do |comment| %>
          <p class="col-5" style="border: 5px double #FF1A6F;">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "rounded-circle", size: "30x30" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "30x30" %>
            <% end %>
          <%= comment.user.nickname %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <%= comment.user_comment %>
        <% end %>
        </p>
        <p>
          <% if @comment.user == current_user %>
            <%= link_to "削除", public_shoes_review_comment_path(@comment.shoes_review, comment), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-sm btn-danger destroy" %>
          <% end %>
        </p>
        <div class="col-5" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
          <%= form_with model: [@shoes_review, @comment], url: public_shoes_review_comments_path(@shoes_review.id) do |f| %>
            <%= f.text_area :user_comment, rows: '5', placeholder: "コメントをここに" , size: "45x5"%><br>
            <%= f.submit "送信する", class: 'btn btn-outline-danger' %>
          <% end %>
        </div>
        <% if @user.id == current_user.id %>
          <div class="col-2" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
            <%= link_to "レビューを編集", edit_public_shoes_review_path, class:"btn btn-primary" %>
          </div>
          <div class="col-2" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
          <%= link_to "レビューを削除", public_shoes_review_path(@shoes_review.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "btn btn-danger destroy" %>
        <% end %>
        </div>
        <div class="col-2" style="border: 5px double #FF1A6F; padding-top: 10px; padding-bottom: 10px;">
           <%= link_to "レビュー一覧", public_shoes_reviews_path, class:"btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
