<div class="container">
  <div class="row mt-3 mb-3 offset-1 text-center">
    <div class="col-12">
      <h2><%= @user.nickname %>さんのプロフィール画面</h2>
    </div>
    <div class="col-12">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "rounded-circle", size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', class: "rounded-circle", size: "200x200" %>
      <% end %>
    </div>
    <div class="col-12">
      <h5>プロフィール写真</h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2 text-right" style="margin-bottom: 20px;">
      <% if @user.id == current_user.id %>
      <%= link_to "プロフィール編集", public_users_information_edit_path, class:"btn btn-outline-danger" %>
      <%else%>
      <% end %>
    </div>
    <div class="col-12">
      <div style="padding: 15px; margin-bottom: 30px; border: 5px double #660000;">
      <table class="table table-black table-striped　table-bordered table-hover text-white">
        <% if @user.id == current_user.id %>
        <tr>
        <th class="table-active w-25">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <% end %>
        <tr>
          <th class="table-active w-25">氏名</th>
          <td><%= @user.last_name %><%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="table-active w-25">フリガナ</th>
          <td><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active w-25">ニックネーム</th>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="table-active w-25">年齢</th>
          <td><%= @user.age %></td>
        </tr>
        <% if @user.id == current_user.id %>
         <tr>
          <th class="table-active w-25">住所</th>
          <td><%= @user.address %></td>
        </tr>
        <% end %>
        <tr>
          <th class="table-active w-25">好きなバスケットボールシューズブランド名</th>
          <td><%= @user.favorite_brand %></td>
        </tr>
        <tr>
          <th class="table-active w-25">好きなバスケットボールシューズ名</th>
          <td><%= @user.favorite_shoes_name %></td>
        </tr>
        <tr>
          <th class="table-active w-25">バスケットボールシューズサイズ</th>
          <td><%= @user.size %></td>
        </tr>
        <% if @user.id == current_user.id %>
        <tr>
          <th class="table-active w-25">Follow</th>
          <td><%= link_to public_user_followings_path(@user.id), class: 'btn btn-outline-light' do %><%= @user.followings.count %> <% end %></td>
        </tr>
        <tr>
          <th class="table-active w-25">Follower</th>
          <td><%= link_to public_user_followers_path(@user.id), class: 'btn btn-outline-light' do %><%= @user.followers.count %> <% end %></td>
        </tr>
        <% else %>
        <tr>
          <th class="table-active w-25">Follow</th>
          <td><%= @user.followings.count %></td>
        </tr>
        <tr>
          <th class="table-active w-25">Follower</th>
          <td><%= @user.followers.count %></td>
        </tr>
        <% end %>
        <tr>
          <th class="table-active w-25">作成したレビュー</th>
          <td><%= link_to "一覧を見る", public_users_user_shoes_reviews_path(@user.id), class:"btn btn-outline-light" %></td>
        </tr>
        <tr>
          <th class="table-active w-25">いいねしたレビュー</th>
          <td><%= link_to "一覧を見る", public_users_favorites_path(@user.id), class:"btn btn-outline-light" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

</div>