 <header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black;">

    <a class="navbar-brand mx-5 img-thumbnail" href="/public/homes/top"><%= image_tag "logo1.PNG", :size => "135x135" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column">
      <ul class="nav ml-auto mx-5">
        <!--管理者ログイン時ー-->
        <% if admin_signed_in? %>
          <li class="nav-item mr-3">
            <%#= link_to admin_shoes_reviews_path do %>
            <!--もし時間があったらレビュー管理機能追加予定-->
              <!--<i class="fa-solid text-dark fa-cake-candles">レビュー一覧</i>-->
            <%# end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to admin_users_path do %>
              <i class="fa-solid text-dark fa-users">会員一覧</i>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to admin_review_comments_path do %>
              <i class="fa-solid text-dark fa-users">コメント一覧</i>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa-solid text-dark fa-user">ログアウト</i>
            <% end %>
          </li>
          

        <!--ログインした時ー-->
        <% elsif user_signed_in? %>
          <li class="nav-item mr-3">
            <%= link_to public_users_mypage_path(current_user) do %>
              <%= image_tag 'mypage.PNG', :size => "135x135" %>
              <!--<i class="fa-solid text-dark fa-user">マイページ</i>-->
            <% end %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to public_homes_about_path do %>
              <%= image_tag 'about.PNG', :size => "135x135" %>
              <!--<i class="fa-solid text-dark fa-house">About</i>-->
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to  public_shoes_reviews_path do %>
              <%= image_tag 'shoesreview.PNG', :size => "135x135" %>
              <!--<i class="fa-solid text-dark fa-cake-candles">レビュー一覧</i>-->
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'logout.PNG', :size => "135x135" %>
              <!--<i class="fa-solid text-dark fa-user">ログアウト</i>-->
            <% end %>
          </li>

        <!--ログインしてないー-->
        <% else %>
          <li class="nav-item mr-3">
            <%= link_to public_homes_about_path do %>
              <%= image_tag 'about.PNG', :size => "135x135" %>
            <% end %>
          </li>
        <li class="nav-item mx-3">
          <%#= link_to public_shoes_reviews_path do %>
            <!--<i class="fa-solid text-dark fa-cake-candles">レビュー一覧</i>-->
          <%# end %>
          <!--ログインなしでレビュー一覧へいけない事にするか消すか-->
        </li>
        <li class="nav-item mx-3">
          <%= link_to new_user_registration_path, data: {"turbolinks" => false} do %>
            <i class="fa-solid text-dark fa-user">新規登録</i>
          <% end %>
        </li>
        <li class="nav-item ml-3">
          <%= link_to  new_user_session_path do%>
            <%= image_tag 'login.PNG', :size => "135x135" %>
          <% end %>
        </li>
        <li class="nav-item mx-3">
           <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary sign_in", method: :post %>
        </li>
        <% end %>
      </ul>


    </div>

  </nav>
</header>
















        <!--<div class="col-5">-->
          <%#= link_to "Log in",new_user_session_path, class: "btn btn-info sign_in" %>
        <!--</div>-->
        <!--<div class="col-5">-->
          <%#= link_to "Sign Up",new_user_registration_path, class: "btn btn-success sign_up" %>