<header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
  
  
  
  <nav class="navbar navbar-expand-lg navbar-light" style=" ">
    <% if admin_signed_in? %><!--管理者ログイン時ー-->
      <a class="navbar-brand mx-5 img-thumbnail" href="/admin/homes/top"><%= image_tag "logo2.PNG", :size => "135x135" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column">
        <ul class="nav ml-auto mx-5">
          <li class="nav-item mx-3">
            <%= link_to admin_users_path do %>
              <i class="fa-solid fa-address-card">Users</i>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to admin_review_shoes_reviews_path do %>
              <i class="fa-solid fa-book-open">Shoes Reviews</i>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to admin_review_comments_path do %>
              <i class="fa-solid fa-comment-slash">Comments</i>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa-solid fa-power-off">Logout</i>
            <% end %>
          </li>
        </ul>
      </div>
    <% elsif user_signed_in? %><!--ログインした時ー-->
      <a class="navbar-brand mx-5 img-thumbnail" href="/public/homes/top"><%= image_tag "logo1.PNG", :size => "135x135" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column">
        <ul class="nav ml-auto mx-5">
          <li class="nav-item mr-3">
            <%= link_to public_user_path(current_user) do %>
              <%= image_tag 'mypage.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item mr-3">
            <%= link_to public_homes_about_path do %>
              <%= image_tag 'about.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to  public_shoes_reviews_path do %>
              <%= image_tag 'shoesreview.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= image_tag 'logout.PNG', :size => "135x135" %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %><!--ログインしてないー-->
      <a class="navbar-brand mx-5 img-thumbnail" href="/public/homes/top"><%= image_tag "logo1.PNG", :size => "135x135" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column">
        <ul class="nav ml-auto mx-5">
          <li class="nav-item mr-3">
            <%= link_to public_homes_about_path do %>
              <%= image_tag 'about.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to  new_user_session_path do %>
              <%= image_tag 'shoesreview.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to new_user_registration_path, data: {"turbolinks" => false} do %>
              <%= image_tag 'signup2.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to  new_user_session_path do %>
              <%= image_tag 'login.PNG', :size => "135x135" %>
            <% end %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to  users_guest_sign_in_path, method: :post do %>
              <%= image_tag 'guest_login2.PNG', :size => "135x135" %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>
