<!DOCTYPE html>
<html>
  <head>
    <title>Bashroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--일단 대충 만들었음 어디로 들어가야지 여기로 나오는지 아직 모르겠다-->
    <header class="fixed-top">
    <br>
    <br>
    <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to "Log in",new_user_session_path, class: "btn btn-info sign_in" %>
        </div>
        <div class="row">
          <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-success sign_up" %>
        </div>
      </div>
      </header>
    <%= yield %>
  </body>
</html>
