<!DOCTYPE html>
<html>
  <head>
    <title>Bashroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--일단 대충 만들었음 어디로 들어가야지 여기로 나오는지 아직 모르겠다-->
    <header>
    <br>
    <br>
    <div class="btn-wrapper col-2">
      <%= render 'layouts/header' %>
        </div>
      </div>
      </header>
    <%= yield %>
  </body>
</html>
