<!DOCTYPE html>
<html>
  <head>
    <title>Bashroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/95abb71f32.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="box-scroll" style="background-color: #000000; color: white; font-family: 'Sacramento', cursive;">
    <div class="page-bg"></div>
    <div class="animation-wrapper">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
      <div class="particle particle-4"></div>
    </div>
    <%= render 'layouts/header' %>
    <main style="border: 5px double #FF1A6F;">
      <!--フラッシュメッセージ-->
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
       <!--プロフィール記入してない時-->
      <% if current_user && !@is_profile_set %>
      　<div><%= link_to public_user_path(current_user) do %>★プロフィールを全て入力してください★ <% end %></div>
      <% end %>
      <div class="text-center">
        <div class='music'>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
        </div>
      </div>
      <%= yield %>
    </main>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <!--topに戻る-->
    <div id="pagetop"><a href="#top"><i class="fas fa-spinner fa-spin"></i></a></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
