<!DOCTYPE html>
<html>
  <head>
    <title>Bashroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/95abb71f32.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="background-color: #000000; color: white; font-family: 'Sacramento', cursive;">
    <%= render 'layouts/header' %>
    <main style="border: 5px double #FF1A6F;">
      <!--プロフィール記入してない時-->
      <% if current_user && !@is_profile_set %>
      　<div><%= link_to public_user_path(current_user) do %>★プロフィールを全て入力してください★ <% end %></div>
      <% end %>
      <!--フラッシュメッセージ-->
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
